<div class="page-header">
    <h3>{{$ signIn}}</h3>
</div>

<div class="services">
    <a href="/auth/google" class="btn btn-lg btn-primary btn-block" type="submit"><i class="fa fa-google"></i> {{$ signInWithGoogle}}</a>
</div>
    
    
