<!--<div class="modal fade">-->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header {{headerClass}}">
                <h4 class="modal-title">{{{title}}}</h4>
            </div>
            <div id="{{id}}-body" class="modal-body">

            </div>
            <div id="{{id}}-footer" class="modal-footer">
                <button id="{{id}}-yes" type="button" class="btn {{yes.buttonClass}}"><i class="{{yes.iconClass}}"></i> {{yes.label}}</button>
                <button id="{{id}}-no" type="button" class="btn {{no.buttonClass}}" data-dismiss="modal"><i class="{{no.iconClass}}"></i> {{no.label}}</button>
            </div>
        </div>
    </div>
<!--</div>-->