<div class="page-header">
    <div class="pull-right">
        <button class="btn btn-default" id="{{id}}-back"><i class="fa fa-arrow-circle-left"></i> {{$ goBack}}</button>
    </div>
    <h3>{{$ myStores}}</h3>
</div>


<div class="list">
    {{#each stores}}
        <a href="#product/edit/category/{{this.id}}" class="btn btn-success btn-block"><i class="fa fa-plus"></i> {{$ newService}}</a>
    {{else}}
        <div class="alert alert-warning">
            {{$ thereAreNoStoresAssociated}}
        </div>
    {{/each}}
</div>