{{#if isOwner}}
    <div class="btn-group btn-group-justified sort-buttons">
        <div class="btn-group">
            <button type="button"
                    id="{{id}}-sort-by-income"
                    data-direction="-1"
                    class="btn btn-success"><i class="fa fa-money"></i> Income
            </button>
        </div>
        <div class="btn-group">
            <button type="button"
                    id="{{id}}-sort-by-turns"
                    data-direction="-1"
                    class="btn btn-info"><i class="fa fa-refresh"></i> Turns
            </button>
        </div>
        <div class="btn-group">
            <button type="button"
                    id="{{id}}-sort-by-name"
                    data-direction="1"
                    class="btn btn-default"><i class="fa fa-th-list"></i> Name
            </button>
        </div>
    </div>
{{/if}}

<div id="{{id}}-users"
     class="users">


</div>
